<% for(var i=0;i<data.length;i++) {%>
<tr>
        <td><%= data[i].flightNumber%></td>
        <td><%= data[i].depPort%></td>
        <td><%= data[i].arrPort%></td>
        <td><%= data[i].depTime%></td>
        <td><%= data[i].arrTime%></td>
        <td><%= data[i].stop%></td>
        <td><%= data[i].equipment%></td>
        <td><%= data[i].cabin%></td>
        <td><%= data[i].flightTime%></td>
        <td><%= data[i].stopTime%></td>
        <td><%= data[i].visa%></td>
        <td><%= data[i].totalPrice%></td>
        <td><%= data[i].ticketPrice%></td>
        <td><%= data[i].taxFee%></td>
        <td><%= data[i].ticketCount%></td>
</tr>
<% } %>
